.onglet {

        display:inline-block;
        margin-left:3px;
        margin-right:-7px;
        padding:3px;
        border:1px solid black;
        cursor:pointer;
        }

.onglet_0 {
        background-color:#00C9D9;
        border-bottom:1px solid black;
        background: white;
        }
        
.onglet_1 {
        background-color:#00C9D9;
        border-bottom:0px solid black;
        padding-bottom:4px;

        }

.contenu_onglet {
        border:1px solid black;
        margin-top:-1px;
        padding:5px;
        display:none;
        background-color: #00C9D9;
        float: l;

        }


ul {
        margin-top:0px;
        margin-bottom:0px;
        margin-left:-10px;

        }

h1 {
        margin:0px;
        padding:0px;
        text-align: center;

       }

p {
    text-align: justify;
}

.img {
        max-width: 100%;
        height: 500px;
        width: 500px;
}

.video-container {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px;
        height: 0;
        overflow: hidden;
        max-width: 100%;
}

.video-container iframe,  
.video-container object,  
.video-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 960px;
        max-width: 100%;
        height: 100%;
        
}


body {
        background-color: white;
        font-family: Arial, sans-serif;

}

.banner {
    width: 25%;
    height: 10%;
    max-width: 100%;
}



